*{ 
    margin: 0px;
    font-family: 'open sans', arial, sans-serif;
}
body{
    background: #e2e2e2; 
}
.clear{
  clear: both;
}
a{
  text-decoration: none;
  color: rgb(24, 24, 24);
}
a:hover{

  color: rgb(0, 21, 59);
}
.right{
  position: fixed;
  width: 16%;
  height: 85%;
  right: 0px;
  background-color: white;
  box-shadow: -10px -10px 10px -4px #d6d6d6;
  top: 110px;
  padding-left:20px;
  padding-top: 30px;
  border-top-left-radius: 10px;
  }
  .left{
    padding: 10px ;
    position: absolute;
    width: 14%;
    height: 35%;
    left: 7px;
    background-color: #e9cf88;
    top: 110px;
    border-radius: 10px;
    color: white;
    z-index: -2;
    }
/*barre1 ////////////////////////////////////*/
.barre{
     height: 50px;
     width: 100%;
     background-image: linear-gradient(-45deg, #d4af5f  0%,#d4af5f  100%);
     z-index: 2;
     position: fixed;
 }
 .leftdiv{
     width: 33.33%;
     height: 50px;
     float: left;
     position: fixed;
    }
 .centerdiv{
        width: 33.33%;
        height: 50px;
        position: fixed;
        left: 33.33%;
        text-align: center;
    }
.centerdiv a{
    text-decoration: none;
    color: white;
    position: relative;
    top:15px ;
}
.rightdiv{
        width: 33.33%;
        float: right;
        height: 50px;
        position: fixed;
        right: 0px;   
     }

.image2{
    width: 30px;
    position: relative;
    left: 80%;
    top: 10px;
    cursor: pointer;
}

/*/////////////////////////////////////////////////////////////////////*/
#barre2{
    position: fixed;;
    background-color:white;
    height: 50px;
    width: 100%;
    top: 50px;
    box-shadow: 3px 3px 3px #d6d6d6; 
    z-index: 2;
}


/*//////////////////////////////////////////////////////////////*/

  #btn {
    position: fixed;
    z-index: 5;
    top: 15px;
    left: 15px;
    cursor: pointer;
   
  }
  #box {
    position: fixed;
    z-index: 4;
    overflow: auto;
    top: 110px;
    left: -16%;
    width: 16%;
    opacity: 0;
    padding: 20px 0px;
    height: 80%;
    background-color: #ffffff;
    color: #000000;
    -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    box-shadow: 8px -8px 10px -6px #d6d6d6;
    border-top-right-radius: 10px;
  }
  
  #box.active {
    left: 0px;
    opacity: 1;
  }
  
  #items {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #items .item {
    position: relative;
    cursor: pointer;
    font-size: 1em;
    padding: 15px 30px;
    -webkit-transition: all 250ms;
    transition: all 250ms;
  }
  #items .item:hover {
    padding: 15px 45px;
    background-color: rgba(3, 63, 104, 0.2);
  }
 
/*/////////////////////////////////////////////////////////////////////////*/

.form-style-1 {
  position: relative;
  top: 110px;
	margin:auto;
	max-width: 700px;
	padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  z-index: 1;
  background: white;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #e9cf88;
	-webkit-box-shadow: 0 0 8px #e9cf88;
	box-shadow: 0 0 8px#e9cf88;
	border: 1px solid #e9cf88;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #d4af5f;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #d4af5f;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
